.supervisor-journal h1{
    text-align: center;
    margin-bottom: 40px;
}
.supervisor-journal-table-filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}
.supervisor-journal .table tbody tr td{
    cursor: pointer;
}
@media only screen and (max-width: 700px) {
    .supervisor-journal-table-filter {
        display: grid;
        gap: 10px;
        justify-content: center;
    }
    .select-input {
        max-width: 282px;
    }
}