.student-settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.student-info {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.student-profile-image {
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    margin: 0 auto 25px auto;
}
.student-info h1 {
    margin-bottom: 30px;
}
.student-contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.student-info button {
    margin: 0 auto;
}
.student-theme {
    display: flex;
    margin: 30px auto 40px auto;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}
.student-teachers h3{
    margin-bottom: 20px;
    text-decoration: underline;
}
.student-teachers {
    font-size: 20px;
}
.student-teachers-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
.add-teacher button {
    margin: 0 !important;
}
.add-teacher .alert-box {
    margin: 0 auto 10px auto;
    text-align: left;
}
.student-settings button {
    margin-left: auto;
    height: fit-content;
}
.pending-teacher {
    color: var(--secondary-text);
}

@media only screen and (min-width: 800px) {
    .pending-teacher:hover::after {
        position: absolute;
        content: "Gaida apstiprinājumu";
        font-size: 16px;
        border-radius: 5px;
        white-space: wrap;
        margin-left: 10px;
        color: var(--white);
        background-color: var(--dark-primary-color);
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 800px) {
    .student-settings {
        grid-template-columns: 1fr;
    }
    .student-info {
        grid-column-start: 1;
    }
    .student-settings button {
        margin: 60px auto 0 auto;
    }
    .student-info button {
        margin: 10px auto 20px auto;
    }
}