.supervisor-settings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.supervisor-info {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.supervisor-profile-image {
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 10px;
    width: 80px;
    margin: 0 auto 25px auto;
}
.supervisor-info h1 {
    margin-bottom: 30px;
}
.supervisor-contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.supervisor-info button {
    margin: 20px auto 30px auto;
}
.supervisor-theme {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    font-size: 20px;
    align-items: center;
    gap: 10px;
}
.supervisor-theme span {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .3s;
}
.supervisor-theme span:hover {
    background-color: var(--secondary-color);
    color: var(--white);
}
.supervisor-settings button {
    margin-left: auto;
    height: fit-content;
}

@media only screen and (max-width: 800px) {
    .supervisor-settings {
        grid-template-columns: 1fr;
    }
    .supervisor-info {
        grid-column-start: 1;
    }
    .supervisor-settings button {
        margin: 60px auto 0 auto;
    }
    .supervisor-info button {
        margin: 10px auto 20px auto;
    }
}