.invite-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 20px;
    max-width: 700px;
    margin: 40px auto;
    background-color: var(--white);
    border-radius: 5px;
    transition: all .3s;
}
.invite-box:hover {
    box-shadow: rgba(150, 150, 150, 0.4) -5px 5px, rgba(150, 150, 150, 0.3) -10px 10px, rgba(150, 150, 150, 0.2) -15px 15px, rgba(150, 150, 150, 0.1) -20px 20px, rgba(150, 150, 150, 0.05) -25px 25px;
}
.invite-box.dark {
    background-color: var(--dark-primary-color);
}
.invite-box.dark:hover {
    box-shadow: rgba(63, 63, 63, 0.4) -5px 5px, rgba(63, 63, 63, 0.3) -10px 10px, rgba(63, 63, 63, 0.2) -15px 15px, rgba(63, 63, 63, 0.1) -20px 20px, rgba(63, 63, 63, 0.05) -25px 25px;
}
.invite-button-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.invite-button-group button {
    width: 100%;
}
.invite-button-group button:first-child {
    border-radius: 5px 0 0 5px;
}
.invite-button-group button:last-child {
    border-radius: 0 5px 5px 0;
}